<a name="about"></a>
<section id="about">
  <header>
    <h2>About</h2>
  </header>
  <article>
    <h3>About Brandon Richey</h3>
    <div>
      <div style="float:left; margin-left: 30px; margin-right: 30px;">
	<%= image_tag "about.png", :alt => "About Me" %>
      </div>
      <div style="margin-left: 30px;">
	I am a web developer, rubyist, rails enthusiast, hobbyist game developer, artist, and gamer located in Albany, NY! In my free time, when not spending time with my wife, daughter, and dog, I'm learning new technologies and programming techniques and design patterns, working on various coding pet projects, or participating in the 2013 One Game A Month challenge!
      </div>
    </div>
  </article>
</section>
